.banner {
  width: 100%;
  min-height: 300px;
  background-size: 120%;
  background-position: left;
  background-image: url('../public/img/banner.jpg');
}

.greenCard {
  color: #ffffff;
  text-align: center;
  padding: 30px 20px;
  align-items: center;
  background-color: #00ae78;
}

.greenCard h2 {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 20px;
}

.greenCard p {
  line-height: 130%;
}

.products {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.products h2 {
  font-size: 25px;
  color: #2b2b2b;
  text-align: center;
  font-weight: bolder;
  margin: 40px 0 30px;
  text-transform: uppercase;
}

.products .product,
.productsWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.products em {
  margin: 20px 0;
}

.products a {
  margin: 30px 0;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  background-color: #00ae78;
}

.services {
  text-align: center;
  padding: 40px 25px;
  background-color: #e6e6e6;
}

.services h2 {
  font-size: 25px;
  color: #2b2b2b;
  margin-bottom: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}

.services div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.services p {
  display: flex;
  padding: 30px;
  margin: 15px 0;
  max-width: 270px;
  color: #353535;
  line-height: 130%;
  align-items: center;
  background-color: #ffffff;
}

@media (min-width: 600px) {

  .productsWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

}

@media (min-width: 800px) {

  .services div {
    flex-direction: row;
  }

  .services p {
    padding: 0 20px;
    margin: 0 10px;
    min-height: 190px;
  }

}